
<h1>Tareas</h1>

  <div class="row">
    <% @tareas.each do |tarea| %>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
        <img src="<%= tarea.ubicacion %>">

          <div class="caption">
            <h3><%= tarea.title.truncate(80, separator:" ...") %></h3>
            <p><%= tarea.description.truncate(80, separator:" ...") %></p>

            <table>
              <tr>

							  <% @flag = true %>
            		<% tarea.users.each do |user| %>
                	<% if (user.id == current_user.id) %>
                    <p><%= link_to 'Listo', remove_ok_tarea_path(tarea) , method: :delete, class:'btn btn-xs btn-success'%></p>
                  	<% @flag = false%>
                	<% end %>
            		<% end %>
              	<% if @flag  %>
                	<p><%= link_to 'NO Listo', add_ok_tarea_path(tarea) , method: :post, class:'btn btn-xs btn-danger'%></p>
                <% end %>
                
              </tr>
            </table>

            </div>
        </div>
      </div>
    <% end %>
  </div>

